body{  
    display: flex;  
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;    
    background: #f3f5fc;
}

main{
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 ;
    padding: 0;
    opacity: 1;
}


/*Estilo cuadros de texto*/
.frame-principal {
    width: 60%;  
    text-align: center; 
}

.frame-principal, .frame-secundario {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 90%;
    margin: 20px 20px 20px 20px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 1em;
    padding-bottom: 30px;
}

.frame-secundario {
    width: 30%; 
    margin-left: auto; 
    text-align: center; 
}

#mensaje-alerta{

    font-size: 20px;
    font-weight: bold;
    color: #343a40;
}

#alerta{
    margin:10px;
}

/*Estilos Imagen*/
.imagen-boy{
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    
}

#alura-boy{
    width: 60%;
    height: 50%;
    margin: 0 0 20px 0;
    text-align: center;    
    animation: moviendo 5s infinite ease;
    transform-origin: center;
}

@keyframes moviendo{
    0%, 100%{
        transform:scale(1);
    }

    50%{
        transform: scale(1.1);
    }
}

/* Css Texto orginal y encriptado */
.texto-original{
    width:100%;
    height:80%;
    text-align: center;
}

textarea{
    width:80%;
    height:70%;
    margin: 20px;
    resize: none;
    color:#052051;
    text-align:center;
    border-style: none;
}

::placeholder{
    font-size: 20px;
    font-weight: bold;
}

/*Estilo de Botones*/
.boton-container{
    margin-top: auto; 
    display: flex;
    justify-content: center; 
}

.boton{
    width: 200px;
    height: 40px;
    margin:10px ;
    padding:10px;
    text-align: center;
    font-size: 15px;
    border-style: none;
    border-radius:1em;
    transition: all 1s ease;
}

.boton:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#btn-encriptar{
    color: #f3f5fc;
    border:#052051;
    background: #052051;
}

#btn-desencriptar{
    color: #052051;
    background: #FFFFFF;
    border: solid 1px #052051;
}

#btn-copiar{
    display: none;
    color:#052051;
    border: solid 1px #052051;
    background: #FFFFFF;
}

/*Estilo pie de pagina*/

footer  {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer p{
    margin: 0;
    padding:0;
    font-family: italic;
    font-size: 10px;
}